<p id="notice"><%= notice %></p>
<div class="search-bar">
  <%= form_tag(games_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-default btn-sm' %>
  <% end %>
</div>
<% if @games.blank? %>
    <h6>There are no documents containing the term "<%= params[:search] %>".</h6>
<% else %>
    <h6>Searching for "<%= params[:search] %>" in games.</h6>
<% end %>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.Description %></td>
        <td><%= game.image_url %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
